<div #chatContainer class="scroll-container">
    <div #item *ngFor="let message of messages">
        <div class="friend-message" *ngIf="message.owner_id._id!==account._id;else myMessage">
            <p class="letters">
                {{message.message}}
            </p>
            <p class="msg-time"><small>{{message.createdAt | date:'h:mm a'}}</small></p>
        </div>
        <ng-template #myMessage>
            <div class="my-message">
                <p class="letters test">
                    {{message.message}}
                </p>
                <p class="msg-time">
                    <small>{{message.createdAt | date:'h:mm a'}}</small>
                    <small *ngIf="message.state==='read';else other_content">
                        <mat-icon color="primary">done_all</mat-icon>
                    </small>
                    <ng-template #other_content>
                        <mat-icon>done_all</mat-icon>
                    </ng-template>
                </p>
            </div>
        </ng-template>
    </div>
</div>