.scroll-container {
    height: 610px;
    width: 100%;
    overflow-y: scroll;
    background-color: white;
}

p.letters {
    word-wrap: break-word;
}

.friend-message {
    background-color: #F8F8F8;
    padding: 5px;
    border-radius: 15px;
    text-align: left;
    margin: 5px 150px 5px 5px;
    border-bottom-left-radius: 0;
}

.my-message {
    background-color: #2CF6C9;
    padding: 5px;
    border-radius: 15px;
    text-align: right;
    border-bottom-right-radius: 0;
    margin: 5px 5px 5px 150px;
}

.msg-time {
    text-align: right;
    margin-bottom: 0;
    color: gray;
}