.page-layout {
    overflow-y: hidden;
}

.row {
    height: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.message-box {
    padding: 12px;
    background: #fff;
    border-radius: 30px;
    border: none;
    outline: none;
    border-color: white;
    width: 100%;
}

.full-width {
    width: 100%;
}

.chat-window {
    background-color: white;
    height: 680px;
}