<div class="page-layout">
    <div class="row">
        <div class="col-sm-4 dummy"></div>
        <div class="col-sm-4">
            <mat-toolbar>
                <img class="mt-3" src="../../../assets/logo.png" width="65" height="65">
                <span class="app-header mb-2">Ping</span>
                <span class="example-spacer"></span>
                <input class="search-bar" type="text" placeholder="Search.." #search [matAutocomplete]="searchRes">
                <mat-autocomplete #searchRes="matAutocomplete">
                    <mat-option *ngFor="let user of searchResult$ | async">
                        <img class="option-img" src="../../../assets/username.png" height="25" alt="profile">
                        <span>{{user.username}}</span>
                        <button *ngIf="user.username !== account.username" mat-button
                            (click)="addContact(user)">Add</button>
                    </mat-option>
                </mat-autocomplete>
            </mat-toolbar>
            <div class="contact-list">
                <mat-selection-list [multiple]="false">
                    <mat-list-option (click)="goToChat(contact.roomID,contact.contactID._id)"
                        *ngFor="let contact of contacts$ | async">
                        <img matListAvatar [src]="contact.contactID.avatar">
                        <p matLine><b>{{contact.contactID.username}}</b></p>
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        <div class="col-sm-4 dummy"></div>
    </div>
</div>