<div class="page-layout">
    <div class="row">
        <div class="col-sm-4 dummy"></div>
        <div class="col-sm-4">
            <mat-toolbar>
                <img class="mt-3" src="../../../assets/logo.png" width="65" height="65">
                <span class="app-header mb-2">Ping</span>
                <span class="example-spacer"></span>
                <input class="search-bar" type="text" placeholder="Search.." #search [matAutocomplete]="searchRes">
                <mat-autocomplete #searchRes="matAutocomplete">
                    <div *ngIf="(searchResult$ | async)?.length || 0 > 0;else noRes">
                        <mat-option *ngFor="let user of searchResult$ | async">
                            <img class="option-img" src="../../../assets/username.png" height="25" alt="profile">
                            <span>{{user.username}}</span>
                            <span class="example-spacer"></span>
                            <button mat-button (click)="addContact(user)">Add</button>
                        </mat-option>
                    </div>
                    <ng-template #noRes>
                        <mat-option>No Result</mat-option>
                    </ng-template>
                </mat-autocomplete>
                <button mat-button [matMenuTriggerFor]="menu">
                    <img class="avatar-img" [src]="account.avatar" alt="profile pic" width="40" height="40">
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="goToProfile()" mat-menu-item>
                        <img class="dropdwn-img" src="../../../assets/profile.png" width="27" height="27" alt="profile">
                        <span>Profile</span>
                    </button>
                    <button (click)="logout()" mat-menu-item>
                        <img class="dropdwn-img" src="../../../assets/logout.png" width="27" height="27" alt="logout">
                        <span>Logout</span>
                    </button>
                </mat-menu>
            </mat-toolbar>
            <app-call-notification></app-call-notification>
            <div class="contact-list">
                <div *ngIf="(contacts$ | async)?.length || 0 > 0;else noContacts">
                    <mat-selection-list [multiple]="false">
                        <mat-list-option (click)="goToChat(contact.roomID,contact.contactID._id)"
                            *ngFor="let contact of contacts$ | async">
                            <img matListAvatar [src]="contact.contactID.avatar">
                            <p matLine><b>{{contact.contactID.username}}</b></p>
                            <span class="example-spacer"></span>
                            <div *ngIf="(contact.totalMessageCount -
                            (contact.readMessages+contact.myMessageCount))>0">
                                <span class="badge rounded-pill bg-success">{{contact.totalMessageCount -
                                    (contact.readMessages+contact.myMessageCount)}}</span>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                <ng-template #noContacts>
                    <div class="text-center pt-5">
                        <h4>No Friends, Search and add friends</h4>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="col-sm-4 dummy"></div>
    </div>
</div>